<ion-header>
  <page-header [title]="'Ledger'"></page-header>
  
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-spinner class="centered-spinner" *ngIf="txnPromise==='pending'"></ion-spinner>

  <ion-card padding *ngIf="txnPromise==='resolved' && !transactions.length">
    <ion-card-header text-center >
      No Transactions yet!
    </ion-card-header>
  </ion-card>

  <ion-list *ngIf="txnPromise==='resolved' && transactions.length">
    <ion-item  *ngFor="let t of transactions" (click)="goToLedgerDetailsPage(t)">
      <h2>
        {{ t.type|txnType }}
      </h2>
      <h3>{{ t.id }}</h3>
      <p>{{ t.timestamp|timestamp }}</p>
    </ion-item>
  </ion-list>


  <ion-card padding *ngIf="txnPromise==='rejected'">
    <ion-card-header text-center style="color: darkred" >
      Something went wrong.Try again
    </ion-card-header>
  </ion-card>
</ion-content>
