<ion-header>
  <ion-navbar color="headerColor">
    <ion-title>Planning</ion-title>
    <ion-buttons end>

      <button ion-button icon-only (click)="logout()">
        <ion-icon style="color:white" name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <comingsoon></comingsoon>

</ion-content>
