page-login {
  #login {
    background: #1c2627 url("../img/login_bg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .scroll-content {
      display: table !important;
      width: 100% !important;
      height: 100% !important;

      form {
        display: table-cell;
        vertical-align: middle;

        .header {
          padding-bottom: 20px;

          img {
            display: block;
            width: 80%;
            margin: 0 auto;
          }
        }

        .button.button-light.active, .button.button-light.activated {
          color: #fff;
          opacity: inherit;
        }
      }
    }
  }
}
