<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form>
    <div class="row responsive-md">
      <div class="col col-50 col-offset-25">

        <div class="header padding text-center">
          <img src="img/logo.png" alt="Your logo here"/>
        </div>

        <div class="list">
          <label class="item item-input">
            <input type="email" placeholder="Email">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Password">
          </label>
        </div>

        <button class="button button-block button-positive">
          Log In
        </button>

        <div class="row row-no-padding">
          <div class="col">
            <button class="button button-clear button-light">
              Forgot password?
            </button>
          </div>

          <div class="col text-right">
            <button class="button button-clear button-light">
              Sign up
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</ion-content>
