<ion-header>
  <page-header [title]="'Assets'"></page-header>
  
</ion-header>


<ion-content>
  <ion-spinner class="centered-spinner" *ngIf="issuerPromise==='pending'"></ion-spinner>

  <!-- <ion-list *ngIf="issuerPromise==='resolved'&&!assetIssuer.name">
     <ion-item >
       <ion-icon name="md-man" item-start></ion-icon>
       <h2> Register Publisher</h2>
       <p>Registration pending</p>
       <button ion-button clear item-end>Register</button>

     </ion-item>
   </ion-list>-->

  <ion-list *ngIf="issuerPromise==='resolved'&&!isIssuerRegistered">
    <ion-item color="headerColor" text-center>
      <ion-row>
        <ion-col style="color: white">
          {{'Register as Issuer'|translate}}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button ion-button block (click)="goToIssuerRegisterPage()">
            {{'REGISTER'|translate}}
          </button>
        </ion-col>
      </ion-row>

    </ion-item>
  </ion-list>

  <ion-list *ngIf="issuerPromise==='resolved'&& isIssuerRegistered">
    <ion-item text-center color="headerColor">
      <ion-row>
        <ion-col style="color: white">
          <h2>{{'Registered Issuer name'|translate}}</h2>
          <p style="color: white"><strong>{{assetIssuer.name}}</strong></p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <!--  <ion-card  *ngIf="issuerPromise==='resolved'&&!isIssuerRegistered">

      <ion-card-content text-center>
        <ion-card-title>
          Issuer Registration
        </ion-card-title>
        <p text-center>
          Want to issue assets? Register first

        </p>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <button ion-button block (click)="goToIssuerRegisterPage()">
            REGISTER
          </button>
        </ion-col>
      </ion-row>
    </ion-card>-->


  <ion-list *ngIf="issuerPromise==='resolved' && isIssuerRegistered">
    <button ion-item (click)="goToAssetIssuePage()">
      <ion-icon name="md-bookmarks" item-start></ion-icon>
      <h2>Issue {{myAssets.length?'another':'First'}} Asset</h2>
      <ion-icon name="ios-arrow-dropright-outline" item-end></ion-icon>

    </button>

    <button ion-item (click)="goToAssetIssuedPage()">
      <ion-icon name="md-paper" item-start></ion-icon>
      <h2>{{'My Issued Assets'|translate}}</h2>
      <p>{{myAssets.length}} assets</p>
      <ion-icon name="ios-arrow-dropright-outline" item-end></ion-icon>

    </button>

    <button ion-item (click)="goToAssetChainPage()">
      <ion-icon name="md-list-box" item-start></ion-icon>
      <h2>{{'Chain assets'|translate}} </h2>
      <p>{{chainAssets.length}} assets available</p>
      <ion-icon name="ios-arrow-dropright-outline" item-end></ion-icon>

    </button>


  </ion-list>

  <!--
    <ion-card *ngIf="uiaBalancePromise==='resolved' && !uiaBalance.length">
      <ion-card-title text-center>
        Assets Token
      </ion-card-title>
      <ion-card-content>
        <p text-center>
          You don't have any asset token

        </p>
      </ion-card-content>


      </ion-card>-->

  <ion-list *ngIf="uiaBalancePromise==='resolved' && !uiaBalance.length">
    <ion-item text-center>
      <h2>{{'Assets Token'|translate}}</h2>
      <p>
        {{'You dont have any asset token'|translate}}
      </p>
    </ion-item>
  </ion-list>


  <ion-list *ngIf="uiaBalancePromise==='resolved' && uiaBalance.length">
    <ion-list-header text-center>
      Assets Token
    </ion-list-header>

  </ion-list>


  <ion-list *ngFor="let balance of uiaBalance">
    <ion-list-header>
      <h2><strong>{{balance.currency}}</strong></h2>

    </ion-list-header>
    <ion-item>
      <p>
        Currency
      </p>
      <span item-end>
        {{balance.currency}}
      </span>
    </ion-item>

    <ion-item>
      <p>
        Balance
      </p>
      <span item-end>
        {{balance.balance}}
      </span>
    </ion-item>


    <ion-item>
      <p>
        Precision
      </p>
      <span item-end>
        {{balance.precision}}
      </span>
    </ion-item>


    <ion-item>
      <p>
        Released quantity
      </p>
      <span item-end>
        {{balance.precision}}
      </span>
    </ion-item>


    <ion-item text-center>
      <button (click)="goToTransferPage()" ion-button clear block>Transfer</button>

    </ion-item>

  </ion-list>


</ion-content>
