<ion-tabs #myTabs color="buttonColor">
  <ion-tab [root]="tab2Root" tabTitle="{{'Assets' | translate}}" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="{{'Markets'|translate}}" tabIcon="cart"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="{{'Communities'|translate}}" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="{{'Wallet'|translate}}" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tab6Root" tabTitle="{{'Profile'|translate}}" tabIcon="person"></ion-tab>
</ion-tabs>
