
<ion-content style="background-color:#ed6a46">
  <ion-slides pager (ionSlideDidChange)="slideChanged()" (ionSlideDrag)="slideMoved()">
    <ion-slide>
      <div class="diag" style="background: url('assets/img/whitebg.svg') no-repeat">
        <ion-icon  ios="ios-alert" md="md-alert" color="primary" [@bounce]='state' (@bounce.done)="animationDone()"></ion-icon>
      </div>
      <div [@bounce]='state'>
        <h2>{{'Save your Private key safely' | translate}}</h2>
        <p>{{'In profile section,copy the private keep and Keep somewhere else. in case you loose it,you wont be able to access' | translate}}</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="diag" style="background: url('assets/img/whitebg.svg') no-repeat">
        <ion-icon ios="ios-alert" md="md-alert" color="primary" [@bounce]='state'></ion-icon>
      </div>
      <div [@bounce]='state'>
        <h2>{{'Save your account address too' | translate}}</h2>
        <p>{{'In profile section,copy the address and keep securely.you will need that to login into app' | translate}}</p>
      </div>
    </ion-slide>
  <!--  <ion-slide>
      <div class="diag" style="background: url('assets/img/whitebg.svg') no-repeat">
        <ion-icon ios="ios-happy" md="md-happy" color="primary" [@bounce]='state'></ion-icon>
      </div>
      <div [@bounce]='state'>
        <h2>All caught up</h2>
        <p>Thanks for signin up</p>
      </div>
    </ion-slide>-->
  </ion-slides>
  <button (click)="skip()" id="skip">{{ skipMsg | translate}}</button>
</ion-content>
