<ion-header>
  <page-header [title]="'Community'"></page-header>

</ion-header>


<ion-content scroll="true" overflow-scroll="hidden" class="iframe-wrapper">
  <div class="container" style="height: 100%">
    <div class="row" style="height: 100%">
      <iframe data-tap-disabled="true" src="https://market.acchain.org/en/forum/index.html"></iframe>
    </div>
  </div>
</ion-content>
