<!--
  Generated template for the AssetIssuePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="headerColor">
    <ion-title>Issue Assets</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>

    <ion-item-divider color="light">
      Asset Information

    </ion-item-divider>

    <ion-item >
      <!--
      The default participant name will be the user's name
      -->
      <ion-label floating>Participant Name *</ion-label>
      <ion-input type="text" [(ngModel)]="asset.name" text-capitalize name="name" required></ion-input>
    </ion-item>

    <ion-item>
      <!--
      It will be dropdown with all the assets token names..
      for eg. AGR.AGL
      -->
      <ion-label floating>Asset currency *</ion-label>
      <ion-input type="text" [(ngModel)]="asset.currency" text-capitalize name="currency" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Estimate price *</ion-label>
      <ion-input type="text" [(ngModel)]="asset.estimatedPrice" text-capitalize name="estimatedPrice" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Exercise standard *</ion-label>
      <ion-input type="text" [(ngModel)]="asset.excerciseStandard" text-capitalize name="excerciseStandard" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Description *</ion-label>
      <ion-textarea [(ngModel)]="asset.description" text-capitalize name="description" required></ion-textarea>
    </ion-item>


    <ion-item>
      <ion-label floating>Estimate unit *</ion-label>
      <ion-select  [(ngModel)]="asset.estimatedUnit"  multiple="false" cancelText="Cancel" okText="OK">
        <ion-option *ngFor="let c of currencyUnits" [value]="c">{{c}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Unlock condition *</ion-label>
      <ion-select  [(ngModel)]="asset.unlockCondition"  multiple="false" cancelText="Cancel" okText="OK">
        <ion-option *ngFor="let c of unlockCondition" [value]="c.value">{{c.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Chain or not</ion-label>
      <ion-toggle [(ngModel)]="asset.chainOrNot"  checked="true"></ion-toggle>
    </ion-item>

    <ion-item-divider color="light">
      Published number

    </ion-item-divider>

    <ion-item>
      <ion-label floating>Maximum *</ion-label>
      <ion-input type="text" [(ngModel)]="asset.publishedNumber.maximum" text-capitalize name="maximum" required></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>Accuracy *</ion-label>
      <ion-input type="text" [(ngModel)]="asset.publishedNumber.precision" text-capitalize name="precision" required></ion-input>
    </ion-item>


    <ion-item-divider color="light">
      Asset category

    </ion-item-divider>


    <ion-item>
      <ion-label floating>Level 1</ion-label>
      <ion-select (ionChange)="onAssetCategoryLevelChange($event,1)"  [(ngModel)]="asset.category.level1"  multiple="false" cancelText="Cancel" okText="OK">
        <ion-option *ngFor="let c of assetCategoriesLevelOne" [value]="c">{{c.attrs[chosenLang]}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="asset.category.level1.id && assetCategoriesLevelTwo.length">
      <ion-label floating>Level 2</ion-label>
      <ion-select (ionChange)="onAssetCategoryLevelChange($event,2)"  [(ngModel)]="asset.category.level2"  multiple="false" cancelText="Cancel" okText="OK">
        <ion-option *ngFor="let c of assetCategoriesLevelTwo" [value]="c">{{c.attrs[chosenLang]}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="asset.category.level2.id && assetCategoriesLevelThree.length">
      <ion-label floating>Level 3</ion-label>
      <ion-select (ionChange)="onAssetCategoryLevelChange($event,3)"  [(ngModel)]="asset.category.level3"  multiple="false" cancelText="Cancel" okText="OK">
        <ion-option *ngFor="let c of assetCategoriesLevelThree" [value]="c">{{c.attrs[chosenLang]}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="asset.category.level3.id && assetCategoriesLevelFour.length">
      <ion-label floating>Level 4</ion-label>
      <ion-select (ionChange)="onAssetCategoryLevelChange($event,4)"  [(ngModel)]="asset.category.level4"  multiple="false" cancelText="Cancel" okText="OK">
        <ion-option *ngFor="let c of assetCategoriesLevelFour" [value]="c">{{c.attrs[chosenLang]}}</ion-option>
      </ion-select>
    </ion-item>


    <ion-item *ngIf="asset.category.level4.id && assetCategoriesLevelFive.length">
      <ion-label floating>Level 5</ion-label>
      <ion-select  [(ngModel)]="asset.category.level5"  multiple="false" cancelText="Cancel" okText="OK">
        <ion-option *ngFor="let c of assetCategoriesLevelFive" [value]="c">{{c.attrs[chosenLang]}}</ion-option>
      </ion-select>
    </ion-item>


    <div padding>
      <button ion-button color="primary" class="btnHeight40Px" block type="submit"
              [disabled]="false"
              (click)="registerAsset()">
        {{registerPromise==='pending'?'Registering' :'Register'}}
      </button>

    </div>
  </ion-list>
</ion-content>
