
<ion-header>

  <ion-navbar color="headerColor">
    <ion-title>Ledger details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <ion-item>
      <h2>Txn.Type</h2>
      <h3>
        {{ transaction?.type|txnType }}
      </h3>
    </ion-item>
    <ion-item>
      <h2>Txn.Amount</h2>
      <h3>
        {{transaction.currency||'ACC'}} {{ transaction?.amountShow }}
      </h3>
    </ion-item>

    <ion-item>
      <h2>Txn.Fee</h2>
      <h3>
        ACC {{ transaction?.fee|xas }}
      </h3>
    </ion-item>
    <ion-item>
      <h2>Confirmations</h2>
      <h3>
        {{ transaction?.confirmations }}
      </h3>
    </ion-item>


    <ion-item>
      <h2>Block Height</h2>
      <h3>
        {{ transaction?.height }}
      </h3>
    </ion-item>


    <ion-item>
      <h2>Txn.Date</h2>
      <h3>
        {{ transaction?.timestamp|timestamp }}
      </h3>
    </ion-item>

    <ion-item>
      <h2>Sender ID</h2>
      <h3>
        {{ transaction?.senderId }}
      </h3>
    </ion-item>

       <ion-item>
      <h2>Recipient ID</h2>
      <h3>
        {{ transaction?.recipientId }}
      </h3>
    </ion-item>

    <ion-item>
      <h2>Txn.ID</h2>
      <h3>
        {{ transaction?.id }}
      </h3>
    </ion-item>

    <ion-item>
      <h2>Block ID</h2>
      <h3>
        {{ transaction?.blockId }}
      </h3>
    </ion-item>


  </ion-list>
</ion-content>
