<ion-header>
<page-header [title]="'Markets'"></page-header>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-spinner class="centered-spinner"
               *ngIf="getUserInfoPromise==='pending'
               || getRecommendedExcercisePromise==='pending'
               || getTradingAreaPromise==='pending'">

  </ion-spinner>

  <div class="header-image"></div>
  <div class="main-content" text-wrap text-center>
      <img class="circular" [src]="userInfo?.imgUrl||'/assets/img/default-avatar.png'">
    <div *ngIf="loggedIn">
      <h3 text-capitalize>{{userInfo?.nickname}}</h3>
      <p text-capitalize>{{userInfo?.city}}</p>
      <p class="profile-description">{{userInfo?.email}}</p>
    </div>
    <div *ngIf="!loggedIn">
      <button ion-button color="primary"  (click)="goToMarketLoginPage()" clear  block >LOG IN</button>
    </div>

    <hr>
      <p no-lines style="font-size: 18px !important;font-weight: lighter !important;" >Recommended line of exercise</p>

    <ion-list *ngFor="let excercise of recommendedExcercise">

      <ion-item no-padding>
        <ion-avatar item-start>
          <img [src]="excercise.asset_image">
        </ion-avatar>
        <h2 >{{excercise.name}}</h2>
        <p>
          {{excercise.currency_short_name}}
        </p>
        <ion-badge item-end>{{excercise.exercise_unit}} unit</ion-badge>


      </ion-item>



    </ion-list>



    <hr>


    <p style="font-size: 18px !important;font-weight: lighter !important;" >NPC Trading area</p>


    <ion-list *ngFor="let area of tradingArea">

      <ion-item no-padding>
        <ion-avatar item-start>
          <img [src]="area.currency_img">
        </ion-avatar>
        <h2 >{{area.currency_short_name}}</h2>
        <span item-end>{{area.dayHighsAndLows}}</span>
      </ion-item>



    </ion-list>
  </div>



<!--
  <comingsoon></comingsoon>
-->





</ion-content>
