page-market {
  .header-image {
    background-image: url(../../assets/img/market-banner.jpg);
    height: 20vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: -1;
  }
  .main-content {
    margin-top: -20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 15px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
    // background: #F5F5F5;
    position: relative !important;
  }
  .circular {
    width: 100px;
    height: 100px;
    position: inherit;
    border-radius: 50%;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border: solid white;
    background-size: 100%;
    margin-top: -70px;
    margin-left: auto;
    margin-right: auto;
    // margin-bottom: 50px;
  }
  .profile-description {
    font-size: 15px;
    color: #888;
  }
}
