
<ion-header>

  <ion-navbar color="headerColor">
    <ion-title>My Issued Assets</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list *ngFor="let asset of myAssets">
    <ion-list-header>
      <h2><strong>{{asset?.currency}}</strong></h2>
        <span item-end [style.color]="asset?.approved===1 ? 'green' : 'red'">
          {{asset?.approved===1?'APPROVED':(asset?.approved===0?'PENDING':'UNKNOWN')}}
        </span>

    </ion-list-header>
    <ion-item>
      <p>
        Description
      </p>
      <span item-end>
        {{asset?.desc}}
      </span>
    </ion-item>

    <ion-item>
      <p>
        Estimated Price
      </p>
      <span item-end>
        {{asset?.estimateUnit}}
      </span>
    </ion-item>


    <ion-item>
      <p>
        Exercise Unit
      </p>
      <span item-end>
        {{asset?.exerciseUnit}}
      </span>
    </ion-item>



    <ion-item>
      <p>
        Maximum quantity
      </p>
      <span item-end>
        {{asset?.maximum}}
      </span>
    </ion-item>

    <ion-item>
      <p>
        Released quantity
      </p>
      <span item-end>
        {{asset?.quantity}}
      </span>
    </ion-item>

    <ion-item>
      <p>
        Released Precision
      </p>
      <span item-end>
        {{asset?.precision}}
      </span>
    </ion-item>

    <ion-item text-center>
      <button (click)="gotoTokenIssuePage(asset)" [disabled]="asset?.approved!==1" ion-button block class="btnHeight40Px">
        Issue Token
      </button>
    </ion-item>

  </ion-list>



</ion-content>
