<ion-header>
  <page-header [title]="'Profile'"></page-header>

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-spinner class="centered-spinner" *ngIf="accountPromise==='pending' || profilePromise==='pending'"></ion-spinner>

  <ion-list>
    <ion-item text-center color="headerColor">
      <img *ngIf="profilePromise==='resolved' && profile.profileUrl && profile.profileUrl.length" width="100"
           height="100"
           [src]="serverUrl+profile.profileUrl+authenticationQueryParameter"
           style="border-radius:50%;position: relative;top:10px;" (click)="presentUploadModal()">

      <ion-icon *ngIf="profilePromise==='pending'
       || profilePromise==='rejected'
        || (profilePromise==='resolved' && (!profile.profileUrl ||  !profile.profileUrl.length))"
                style="font-size: 80px;" name="md-person" (click)="presentUploadModal()"></ion-icon>

    </ion-item>

    <ion-item>
      <ion-input placeholder="{{'Write your name'|translate}}" type="text" [(ngModel)]="profile.name" text-capitalize
                 name="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="{{'Whats your location'|translate}}" [(ngModel)]="profile.location" text-capitalize
                 name="location"></ion-input>
    </ion-item>


    <div padding>
      <button ion-button color="primary" class="btnHeight40Px" block type="submit"
              [disabled]="profileUpdatePromise==='pending'"
              (click)="updateProfile()">
        {{profileUpdatePromise==='pending'?'UPDATING PROFILE' :'UPDATE'|translate}}
      </button>

    </div>

  </ion-list>

  <ion-list>

    <ion-item>
      <h2>
        {{'Passcode'|translate}}
      </h2>
      <p>
        {{profile?.passcode}}
      </p>
      <button outline ion-button item-end type="button" (click)="changeID()">
        {{'Change'|translate}}
      </button>
    </ion-item>


    <ion-item>
      <h2>
        {{'Agriledger ID'|translate}}
      </h2>
      <p>
        {{profile?.id}}

      </p>
      <button outline ion-button [ngxClipboard]="inputTarget" (cbOnSuccess)="onCopyText()" item-end>
        {{'COPY'| translate}}
      </button>
    </ion-item>

    <ion-item>

      <h2>
        {{'Balance'|translate}}
      </h2>
      <p>
        ACC {{myAccount?.account?.balance|xas}}

      </p>
    </ion-item>

    <ion-item>

      <h2>
        {{'Private Key'|translate}}
      </h2>
      <p>
        {{profile?.privateKey}}

      </p>
      <button outline ion-button [ngxClipboard]="inputTarget2" (cbOnSuccess)="onCopyText()" item-end>
        {{'COPY'| translate}}
      </button>
    </ion-item>

    <ion-item>
      <h2>
        {{'Public Key'|translate}}
      </h2>
      <p>
        {{myAccount?.account?.publicKey}}

      </p>
      <button outline ion-button [ngxClipboard]="inputTarget3" (cbOnSuccess)="onCopyText()" item-end>
        {{'COPY'| translate}}
      </button>
    </ion-item>

    <ion-item>
      <h2>{{'Address'|translate}}</h2>
      <p>{{myAccount?.account?.address}}</p>
      <button outline ion-button [ngxClipboard]="inputTarget4" (cbOnSuccess)="onCopyText()" item-end>
        {{'COPY'| translate}}
      </button>
    </ion-item>

    <ion-item>
      <h2>{{'Block Height'|translate}}</h2>
      <p>
        {{myAccount?.latestBlock?.height}}
      </p>
    </ion-item>


  </ion-list>


  <input style="opacity: 0" readonly [value]="profile?.id" #inputTarget>
  <input style="opacity: 0" readonly [value]="profile?.privateKey" #inputTarget2>
  <input style="opacity: 0" readonly [value]="myAccount?.account?.publicKey" #inputTarget3>
  <input style="opacity: 0" readonly [value]="myAccount?.account?.address" #inputTarget4>


  <ion-card>
    <ion-card-header text-center style="color: darkred" *ngIf="accountPromise==='rejected'">
      Something went wrong.Try again
    </ion-card-header>
  </ion-card>


</ion-content>

