page-home {

    .listColor{
        background-color: #373a3f;
    }

    .list-ios .item-block .item-inner {
        border-bottom: gray;
    }

    .list-ios {
        margin: 0px;
    }
    .list-md {
        margin: 0px;
    }

    .gridColor{
        background-color: #ed6a46;
    }

    .roleAlign {
        font-size: 14px;
        height: 40px;
        white-space: initial;
        vertical-align: middle;
        padding-top: 10px;
      }

      .imgHeight{
        background-repeat: no-repeat;
        background-size: cover;
      }

      .paddingNil {
        padding: 0px !important;
      }

}
