<ion-header>
  <page-header [title]="'Home'"></page-header>
  

<ion-content>


  <ion-grid class="gridColor">
    <ion-row align-items-start>
      <ion-col (click)="goToProfileTab()">
        <ion-card text-center>
          <ion-card-content class="paddingNil">
              <ion-icon name="person" class="imgHeight" style="font-size: 6em; width: 100%;"></ion-icon>
            <div class="roleAlign">
              Profile
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col (click)="goToWalletPage()">
        <ion-card text-center>
            <ion-card-content class="paddingNil">
                <ion-icon name="cash" class="imgHeight" style="font-size: 6em; width: 100%"></ion-icon>
              <div class="roleAlign">
                Wallet
              </div>
            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row align-items-start>
      <ion-col (click)="goToLedgerTab()">
        <ion-card text-center>
            <ion-card-content class="paddingNil">
                <ion-icon name="archive" class="imgHeight" style="font-size: 6em; width: 100%"></ion-icon>
              <div class="roleAlign">
                Ledger
              </div>
            </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col (click)="goToMarketTab()">
        <ion-card text-center>
            <ion-card-content class="paddingNil">
                <ion-icon name="cart" class="imgHeight" style="font-size: 6em; width: 100%"></ion-icon>
              <div class="roleAlign">
                Market
              </div>
            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>

    <ion-item text-wrap class="listColor" text-center>
      <h1 style="color: white; font-weight: 400">Providing the Right Tools for the Participants in the Agricultural Supply chain</h1>
    </ion-item>

    <ion-item text-wrap class="listColor">
      <ion-thumbnail item-start>
        <img src="assets/img/fingerprint-2.png">
      </ion-thumbnail>
      <h2 style="color: white; font-weight: 400; padding-bottom: 5px">Digital Identity</h2>
      <p style="color: white; font-weight: 100; line-height: 20px;">Without official identification, a person can struggle to access: Financial services, Social benefits, Healthcare,
        Education, Political and legal rights, Gender equality and Migration</p>
    </ion-item>

    <ion-item text-wrap class="listColor">
      <ion-thumbnail item-start>
        <img src="assets/img/trace.png">
      </ion-thumbnail>
      <h2 style="color: white; font-weight: 400; padding-bottom: 5px" m>Traceability</h2>
      <p style="color: white; font-weight: 100; line-height: 20px;">Lack of traceability means tracking and recalling specific contaminated products throughout the supply chain impossible.
        With the DLT solution, each item can be traced from seed to consumer</p>
    </ion-item>

    <ion-item text-wrap class="listColor">
      <ion-thumbnail item-start>
        <img src="assets/img/money.png">
      </ion-thumbnail>
      <h2 style="color: white; font-weight: 400; padding-bottom: 5px">Financial Services</h2>
      <p style="color: white; font-weight: 100; line-height: 20px;">Without financial access, many agricultural providers lose up to 50% of potential income. Farmers can prove their identity
        and income to gain access to financial institutions</p>
    </ion-item>

    <ion-item text-wrap class="listColor">
      <ion-thumbnail item-start>
        <img src="assets/img/record-2.png">
      </ion-thumbnail>
      <h2 style="color: white; font-weight: 400; padding-bottom: 5px">Record Keeping</h2>
      <p style="color: white; font-weight: 100;line-height: 20px;">Farmers can use their digitized ledger for better record keeping and proof of income</p>
    </ion-item>

  </ion-list>




</ion-content>
