<ion-header>

  <ion-navbar>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">
    <ion-item [ngClass]="{'error-border':!authForm.controls.username.valid && authForm.controls.username.touched}">
      <ion-label floating>Username</ion-label>
      <ion-input formControlName="username" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="authForm.controls.username.hasError('required') && authForm.controls.username.touched">
      <p>Sorry, field username is required!</p>
    </ion-item>
    <ion-item *ngIf="authForm.controls.username.hasError('pattern') && authForm.controls.username.touched">
      <p>Sorry, only small and capital letters are allowed!</p>
    </ion-item>
    <ion-item *ngIf="authForm.controls.username.hasError('minlength') && authForm.controls.username.touched">
      <p>Sorry, minimum username length is 8!</p>
    </ion-item>
    <ion-item *ngIf="authForm.controls.username.hasError('maxlength') && authForm.controls.username.touched">
      <p>Sorry, maximum username length is 30!</p>
    </ion-item>

    <ion-item [ngClass]="{'error-border':!authForm.controls.password.valid && authForm.controls.password.touched}">
      <ion-label floating>Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-item *ngIf="authForm.controls.password.hasError('required') && authForm.controls.password.touched">
      <p>Sorry, field password is required!</p>
    </ion-item>
    <ion-item *ngIf="authForm.controls.password.hasError('minlength') && authForm.controls.password.touched">
      <p>Sorry, minimum password length is 8!</p>
    </ion-item>
    <ion-item *ngIf="authForm.controls.password.hasError('pattern') && authForm.controls.password.touched">
      <p>Sorry, 7 to 15 characters which contain at least one numeric digit and a special character</p>
    </ion-item>

    <ion-item [ngClass]="{'error-border':!authForm.controls.email.valid && authForm.controls.email.touched}">
      <ion-label floating>Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-item *ngIf="authForm.controls.email.hasError('required') && authForm.controls.email.touched">
      <p>Sorry, field Email Id is required!</p>
    </ion-item>
    <ion-item *ngIf="authForm.controls.email.hasError('pattern') && authForm.controls.email.touched">
      <p>Please enter a valid Email Id</p>
    </ion-item>

    <ion-item [ngClass]="{'error-border':!authForm.controls.number.valid && authForm.controls.number.touched}">
      <ion-label floating>Number</ion-label>
      <ion-input formControlName="number" type="number"></ion-input>
    </ion-item>
    <ion-item *ngIf="authForm.controls.number.hasError('required') && authForm.controls.number.touched">
      <p>Sorry, field Phone Number is required!</p>
    </ion-item>
    <ion-item *ngIf="authForm.controls.number.hasError('pattern') && authForm.controls.number.touched">
      <p>Please enter a valid Phone Number</p>
    </ion-item>

    <button ion-button full color="primary" [disabled]="!authForm.valid" style="margin-top: 20px;" type="submit">
      Authorize
    </button>
  </form>

</ion-content>


