<ion-navbar color="headerColor">
  <ion-title>{{title|translate}}</ion-title>
  <ion-buttons end>
    <button ion-button icon-only >
      <ion-icon style="color:white" name="home"></ion-icon>
    </button>

    <button ion-button icon-only (click)="logout()">
      <ion-icon style="color:white" name="log-out"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
