<ion-header>

  <ion-navbar color="headerColor">
    <ion-title>{{'Transfer'|translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content  >


  <ion-list>
    <ion-item>
      <ion-label floating>{{'Asset Currency'|translate}}</ion-label>
      <ion-select  [(ngModel)]="transaction.currency"  multiple="false" cancelText="Cancel" okText="OK">
        <ion-option *ngFor="let c of currencyRange" [value]="c.currency">{{c.currency}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item >
      <ion-label floating>{{'Sender'|translate}}</ion-label>
      <ion-input type="text" text-capitalize name="Sender" required [(ngModel)]="profile.address" disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{'Recipient Address'|translate}}</ion-label>
      <ion-input type="text" text-capitalize name="Recipient" [(ngModel)]="transaction.toAddress" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{'Amount'|translate}}</ion-label>
      <ion-input type="text" text-capitalize name="Amount" [(ngModel)]="transaction.amount" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{'Fee'|translate}}</ion-label>
      <ion-input type="text" text-capitalize name="Fee" [(ngModel)]="transaction.fee" [disabled]="true" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{'Remark'|translate}}</ion-label>
      <ion-input type="text" text-capitalize name="Remark" [(ngModel)]="transaction.remark" required></ion-input>
    </ion-item>

  </ion-list>


  <ion-row>
    <ion-col padding>

      <button ion-button color="primary" class="btnHeight40Px" block type="submit" [disabled]="txnCreatePromise==='pending'"
              (click)="createTransaction()">
        {{txnCreatePromise==='pending'?'SENDING':'SEND' | translate}}
      </button>

    </ion-col>
  </ion-row>

</ion-content>

