<!--
  Generated template for the AssetChainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="headerColor">
    <ion-title>Chain Assets</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-card *ngFor="let assets of chainAssets">

    <ion-card-content>
      <ion-card-title>
        {{assets?.currency}}
      </ion-card-title>
      <h2><b>Description</b></h2>
      <p>{{assets?.desc}}</p>

      <h2><b>Maximum</b></h2>
      <p>{{assets?.maximum}}</p>

      <h2><b>Quantity</b></h2>
      <p>{{assets?.quantity}}</p>


      <h2><b>Precision</b></h2>
      <p>{{assets?.precision}}</p>

      <ion-row>
        <ion-col>
          <button ion-button block>
            ISSUE
          </button>
        </ion-col>
        </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
