// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.centered-spinner {
  width: 28px;
  height: 28px;
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-14px;
  margin-right:-14px;
  z-index: 100000;
}

.imageIcon {
  display: inline-block;
  padding: 0 0.1em;
  min-width: 32px;
  max-width: 32px;
  font-size: 1.8em;
  line-height: .67;
  pointer-events: none;
}

.btnHeight40Px{
  height:40px !important;
}
.bgColor{background-color:rgba(0, 0, 0, 0.05)}

.lighterFont{
  font-weight: lighter !important;
}
