<ion-content padding class="transparent-header">
  <ion-header>
    <ion-navbar>
      Market Login
    </ion-navbar>
  </ion-header>
  <div text-center>
    <img class="logo" src="/assets/img/acchain-logo.png" />

  </div>
  <div padding>
    <ion-item>
      <ion-input autocomplete="off"  type="text" placeholder="Username" [(ngModel)]="credential.username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input autocomplete="off"  type="password" placeholder="Password" [(ngModel)]="credential.password"></ion-input>
    </ion-item>
    <button ion-button block outline (click)="login()" color="light" class="login-button">Login</button>
  </div>

  <div class="strike">
    <span>OR</span>
  </div>
  <button ion-button block clear (click)="goToRegisterPage()" color="light" class="login-button"><ion-icon name="logo-facebook"></ion-icon>
    Register
  </button>
</ion-content>

