page-information {

    .listColor{
        background-color: #778899;
    }

    .list-ios .item-block .item-inner {
        border-bottom: gray;
    }

    .list-ios {
        margin: 0px;
    }
    .list-md {
        margin: 0px;
    }

}
