<ion-header>
  <page-header [title]="'Information'"></page-header>
  
</ion-header>


<ion-content style="background-color: #778899">

  <ion-list>

    <ion-item class="listColor" text-center padding>
      <h1 style="color: white; font-weight: 400">Stats & Figures</h1>
    </ion-item>

    <ion-item text-wrap class="listColor">
      <ion-thumbnail item-start text-center>
          <ion-icon name="pizza" style="font-size: 3em"></ion-icon>
      </ion-thumbnail>
      <h2 style="color: white; font-weight: 400; padding-bottom: 5px">870 Million</h2>
      <p style="color: white; font-weight: 100; line-height: 25px;">Hungry people in the world could be fed if just one-fourth of the food currently lost or wasted globally could be saved.</p>
    </ion-item>

    <ion-item text-wrap class="listColor">
      <ion-thumbnail item-start text-center>
          <ion-icon name="camera" style="font-size: 3em"></ion-icon>
      </ion-thumbnail>
      <h2 style="color: white; font-weight: 400; padding-bottom: 5px">1.1 Billion</h2>
      <p style="color: white; font-weight: 100; line-height: 25px;">Estimated people in the world unable to prove their Identity.</p>
    </ion-item>

    <ion-item text-wrap class="listColor">
      <ion-thumbnail item-start text-center>
          <ion-icon name="contacts" style="font-size: 3em"></ion-icon>
      </ion-thumbnail>
      <h2 style="color: white; font-weight: 400; padding-bottom: 5px">600 Million</h2>
      <p style="color: white; font-weight: 100; line-height: 25px;">Die every year from contaminated food.</p>
    </ion-item>

    <ion-item text-wrap class="listColor">
      <ion-thumbnail item-start text-center>
          <ion-icon name="globe" style="font-size: 3em"></ion-icon>
      </ion-thumbnail>
      <h2 style="color: white; font-weight: 400; padding-bottom: 5px">80% of Farmland</h2>
      <p style="color: white; font-weight: 100;line-height: 25px;">is in sub-Saharan Africa and Asia is managed by smallholders</p>
    </ion-item>

  </ion-list>

</ion-content>
