page-uploads {

  .dividerBGColor {
    background-color: rgba(255, 152, 76, 0.91)
  }

  .centered-spinner {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -14px;
    margin-right: -14px;
  }

  @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);


  .uploader {
    display: block;
    width: 100%;
  }
  .uploader label {

    background: #de6262; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #de6262, #ffb88c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #de6262, #ffb88c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float: left;
    clear: both;
    width: 100%;
    padding: 2rem 1.5rem;
    text-align: center;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }





  .uploader input[type="file"] {
    opacity:0;
  }

  .uploader .btn {
    display: inline-block;
    margin: 1.5rem .5rem 0rem .5rem;
    clear: both;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: initial;
    border: none;
    border-radius: .2rem;
    outline: none;
    padding: 0 1rem;
    height: 40px;
    line-height: 40px;
    width: 150px;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background: #454cad;
    border-color: #454cad;
    cursor: pointer;
  }




}


