
<ion-header>

  <ion-navbar>
    <ion-title>Token Issue</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-list>
    <ion-item-divider color="light">
      Token Information

    </ion-item-divider>

    <ion-item>
      <ion-label floating>Amount *</ion-label>
      <ion-input type="text" [(ngModel)]="amount" text-capitalize name="estimatedPrice" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Exchange rate *</ion-label>
      <ion-input type="text" [(ngModel)]="exchangeRate" text-capitalize name="excerciseStandard" required></ion-input>
    </ion-item>


    <div padding>
      <button ion-button color="primary"
              class="btnHeight40Px"
              block
              [disabled]="tokenIssuePromise==='pending'"
              (click)="issueToken()">
        {{tokenIssuePromise==='pending'?'Issuing' :'Issue'}}
      </button>

    </div>
  </ion-list>

</ion-content>
