<ion-header>
  <page-header [title]="'Wallet'"></page-header>
  
</ion-header>
<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item text-center color="headerColor">
      <h2 style="color: white">{{'BALANCE'|translate}}</h2>
      <p>
        <strong>{{'ACC'|translate}} {{myAccount?.account?.balance|xas}}</strong>

      </p>

    </ion-item>
  </ion-list>

  <div class="center">
    <ion-row style="margin-top: 5%">
      <ion-col col-6>
        <ion-card class="borderGrey">
          <ion-card-content no-padding>
            <div text-center>
              <img src="assets/icon/Money_Fist-512.png"
                   style="width: 60px;height: 60px;display: inline" width="60" height="60"/>
            </div>
            <div text-center>{{'COIN REQUEST'|translate}}</div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-6 (click)="cashTransfer()">
        <ion-card class="borderGrey">
          <ion-card-content no-padding>
            <div text-center>
              <img src="assets/icon/cashTransfer.png"
                   style="width: 60px;height: 60px;display: inline" width="60" height="60"/>
            </div>
            <div text-center>{{'COIN TRANSFER'|translate}}</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-card class="borderGrey">
          <ion-card-content no-padding>
            <div text-center>
              <img src="assets/icon/thin-161_cash_money_coins-512.png"
                   style="width: 60px;height: 60px;display: inline" width="60" height="60"/>
            </div>
            <div text-center>{{'EXPENSES'|translate}}</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card class="borderGrey" (click)="goToAssetsPage()">
          <ion-card-content no-padding>
            <div text-center>
              <img src="assets/icon/Commerce_Mini_Icons-13-512.png"
                   style="width: 60px;height: 60px;display: inline" width="60" height="60"/>
            </div>
            <div text-center>{{'Assets'|translate}}</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


  </div>


</ion-content>
