
<ion-header>

  <ion-navbar color="headerColor">
    <ion-title>{{'Issuer Registration'|translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>


    <ion-item >
      <ion-label floating>{{'Name'|translate}} *</ion-label>
      <ion-input type="text" [(ngModel)]="issuer.name" text-capitalize name="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{'Description'|translate}} *</ion-label>
      <ion-textarea [(ngModel)]="issuer.desc" text-capitalize name="location" required></ion-textarea>
    </ion-item>


    <div padding>
      <button ion-button color="primary" class="btnHeight40Px" block type="submit"
              [disabled]="registerPromise==='pending' || isPublisherRegistered"
              (click)="registerPublisher()">
        {{registerPromise==='pending'?'Registering' :'Register' | translate}}
      </button>

    </div>
  </ion-list>
</ion-content>
